fastapi
uvicorn
streamlit

openai

langchain
langchain-openai
langchain-community

faiss-cpu

pypdf

python-dotenv

pydantic

tiktoken

python-multipart

requests

pandas

numpy


#pip install -r requirements.txt